In [33]:
#!pip install kaggle
# import kaggle
# Download dataset from kaggle using api
# !kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [34]:
# Extrac file from zip file 
# import zipfile
# zip_ref = zipfile.ZipFile('orders.csv.zip')
# zip_ref.extractall() # Extract file to dir
# zip_ref.close()

In [36]:
# Read data from file and handle Null values
import pandas as pd
df = pd.read_csv('orders.csv', na_values = ['Not Available', 'unknown'])
# df.head(20)
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [37]:
# Rename Column name
# df.columns = df.columns.str.lower()
# df.columns = df.columns.str.replace(' ', '_')

In [43]:
# df.head(5)
# df.columns = df.columns.str.lower()
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [44]:
# Derive discount column , sales price and profir
df['discount'] = df['list_price'] * df['discount_percent'] * .01

In [47]:
# creatng a sele_price column
df['sale_price'] = df['list_price'] - df['discount']
# df

In [49]:
df['profit'] = df['sale_price'] - df['cost_price']
# df

In [50]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sale_price          float64
profit              float64
dtype: object

In [51]:
df['order_date'] = pd.to_datetime(df['order_date'],format= "%Y-%m-%d")

In [52]:
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [53]:
df.drop(columns=['cost_price', 'list_price', 'discount_percent'], inplace=True)

In [54]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [56]:

import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-H6MGLLA/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [57]:
# load the data into sql server
df.to_sql('df_orders', con=conn, index=False, if_exists= 'append')

-1